/* Header styling*/
header{
    color:black; 
    background-color: whitesmoke;
    font-family: 'Comic Sans MS';
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-align: left;/* Get so title lines up with links within page*/
    /* all related to keeping header at top of page.*/
    left:0;
    right:0;
    width:100%;
    top:0;
    left:0;
    right:0;
    position:fixed;
}
/* This is styling for heading one which is name of website.*/
h1 {
    color: #ff4500;
    font-family: 'Comic Sans MS';
    font-style: italic;
    font-weight: bold;
    font-size: 30x;
}

/* Styling for menu bar so looks better.*/
/* Style so there is no extra to list containing anchor tags*/
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;

}
/* Arrnage navbar in header*/
ul li {
    font-family: "Comic San MS";
    float: right;
    width:200;
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
}


/* Style anchor tags*/
a{
    color:rgb(0, 0, 0);
    font-size: 20px;
    
}
/* Style so when hover over anchor tags in navbar will change colour. */
a:hover {
    color: rgb(251, 84, 6)
   
    
}



/* Styling for body*/
body{
    color:rgb(0, 0, 0);
    background-image:url('/static/images/logo.png'); /* Uses image from static as background for website. */
    font-size: 20px;
    padding: 2mm;
    padding-top: 150px;
    margin: 8.5mm;
    font-family: 'Comic Sans MS';
    position: relative; /* Body will fit between where header and footer end and begin.*/
    accent-color: #ff8000; /* Changes color of radio buttons to be orange.*/


}


/*Styling for footer*/
footer{
    color:black;
    background-color: whitesmoke;
    font-family: 'Comic Sans MS';
    font-size: 9px;
    left:0;
    right:0;
    width:100%;
    /* All related to keeping footer at bottom of page in same position.*/
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}



/*Table styling*/

/* Styling for tables in conversion to grams and mills pages. */
th, td {
    text-align: left;
   font-family: "Comic San MS";
   padding: 15px;

}

/*Table heading styling */
th {
    font-family: 'Comic Sans MS';
    font-size: 25px;
}
/* Table data styling*/
td{
    font-family: 'Comic Sans MS';
    font-size: 20px;
}


/* Styling so that table has zebra pattern of grey and white*/
/* Styling so even rows of table are grey*/
tr:nth-child(even) { background-color: rgba(206, 209, 209, 0.726);
    
}
/*Styling so odd rows of table are white*/
tr:nth-child(odd) {background-color: whitesmoke;

}

/*Makes so first row of data in table stands out. This makes it easier to identify the most recent conversion the user has made. */
tr:nth-child(2) { background-color: #ff7f50;}



/* Styling for form */
/*Radio button styling*/
input[type='radio'] {
    transform:scale(2);
    margin: 15px;
}

/*Make button smaller after selected*/
input[type='radio']::after {
    transform:scale(0.75);
}

/* Add zebra strip to dropdown option select in form. */
option:nth-child(odd){
    font-weight: 'Comic Sans MS';
    background-color:rgba(206, 209, 209, 0.726) 

}
/*When user hover of option change to orange to go with color scheme. */
option:hover{
    background-color: #ff8000;
}

/* Change font of option and font size as can't do directly.*/
.dropdown {
    font-family: 'Comic Sans MS';
    font-size: 25px; ;
}


/* Styling for number input on form.*/
input[type='number'] {
    padding:15px;
}


/* Syling for submit on form*/
input[type='submit'] {
    font-family: 'Comic Sans MS';
    width:100%;
}

