{% extends 'base.html'%}
{% block content%}
{% if x in units_grmas %}
<p>shotcumfuck</p>
<p><a href="{{ url_for('converter')}}"> Convert another measurement</a></p>
{% elif x in units_mill%}
<p>test</p>
<p><a href="{{ url_for('converter')}}"> Convert another measurement</a></p>
{% else%}
<p> No units converted yet convert.</p>
{% endif%}
<p><a href="{{ url_for('conversion_grams')}}"> Conversions for grams</a> </p>
<p><a href="{{ url_for('conversion_mills')}}"> Conversion for mills</a></p>
{% endblock%}