{% extends "base.html "%}
{% block content%}
<body>
    <!--Explains what this page is so user can know and not be lost. -->
    This is a table showing all recent conversion to grams.
    <table>
        <!-- Loop to go through list of title headings and insert them as heading for table grams. This makes it easier to change and modify the table if it is needed.-->
        <tr>
            {% for heading in heading_table_grams%}
            <th> {{ heading }}</th>
            {% endfor%}
        </tr>
        <!-- Loop through all the data queried from the database. This makes it easier to display what the user has entered into the database. 
            It will also automatically update when changes are made. -->   
        {% for data_grams in add_to_table_grams%} 
            <tr>
                {% for data in data_grams %}
                <td> {{ data }}</td>
                {% endfor%}
            </tr>
        {% endfor%}
    </table>

</body>

{% endblock%}