{% extends 'base.html' %}
{% block content%}
<script>
    function hideform(y) {
        //Script to hide form based on input from radio button. 
        document.getElementById('NumberMeasurements').style.dsiplay='none'//Hide input for number so if user changes mind will not show previous selected unit for quantity they would like to convert.
        if (y=='millilitres') {
            document.getElementById('unitmills').style.display='block';//Will show dropdown list for measurement to convert to mills
            document.getElementById('unitgrams').style.display='none';// Will hides measurment that convert to grams if the user has previously selected it. 
            
            
        }
        else  {
            document.getElementById('unitgrams').style.display='block';//Will show a dropdown list for measurement that the user can convert to grams.
            document.getElementById('unitmills').style.display='none';//Will not show dropdown list for units to grams. Also hide this dropdown list if user changed from mills to grams. 
        }
        return;
    }

    function hideinput(answer) {
        document.getElementById('quantity').innerHTML=answer.value //Gets value of measurement that user has selected. 
        document.getElementById("NumberMeasurements").style.display='block'; //Display number input after user has entered the measurement they want to convert.
        return;
    }

    function showsubmit() {
        document.getElementById('Submit').style.display='block'
    }
    </script>


<body>
    <form method="post" action="/conversions">
        <div class="form">
        <h2> What would you like to convert measurement to?</h2>
        <input type="radio"  name="millilitres or Grams" id="millilitres" value="millilitres" onclick="hideform('millilitres')"> Millilitres <!-- Radio button for millilitres which will run script if pressed.-->
        <input type="radio"  name="millilitres or Grams" id="Grams" values="Grams" onclick="hideform('Grams')"> Grams   <!-- Radio button for millilitres which will run script if pressed.-->
        <!-- Becuase radio buttons user can only select either meaning that one measurement will be shown based on the selection.-->   
        <!-- Drop down menu of measurements that user can convert. Hidden so user will be shown dropdown based on whether they would like to convert mills or grams. -->
        <!--If user selected mills then this dropdown list will be displayed-->
        <label hidden id="unitmills">
            <label >
                <h3>Select a unit to convert to milliliters?</h3>
                <select  name="unitmills" onchange="hideinput(this)" class="dropdown"> <!-- Once measurement is selected will run function  and display next part of form..-->
                    <option disabled selected>-----</option> <!-- Placeholder so user must select measurement. -->
                    {% for unit in units_mills%} <!-- Loop to create dropdown list for all measurement for millilitres that the user is able to select -->
                    <option value="{{ unit }}" > {{ unit }} </option>
                    {% endfor%}
                </select>
            </label>
           </label> 
        </label>
    
       <div >
        <!--If user selected grams then this dropdown list will be displayed-->
        <label hidden id="unitgrams"> 
            <h3>Select a unit to convert to grams?</h3>
            <label>
                <select name="unitgrams" onchange="hideinput(this)" class="dropdown">  <!-- Once measurement is selected will run function and display next part of form..-->
                    <option disabled selected>-----</option> <!-- Same as previous. -->
                    {% for unit in units_grams%} <!-- Loop to create dropdown list for all measurements for grams that the user can select. -->
                    <option value="{{ unit}}" > {{ unit }} </option>
                    {% endfor%}
                </select>
            </label>
        </label>
       </div>


    <!--Hidden so once user has elected the measurement they would like to convert it will print a message and display this. -->
            <label hidden id="NumberMeasurements">
                <h2>Please enter the number of <span id="quantity"></span>s you would like to convert?</h2> <!-- Using script inserts using inner HTML. 
                Example output user select cups. Function gets value from dropdown users innerHTML to write cup and then adds additional 's you would like to convert'-->
                <p><input name='numberofunits' type='number' min=0.25 step="0.25" onchange="showsubmit()"> <!-- Minimum of 0.25 as most sensible size. 
                    Step of 0.25 of more flexibility to enter 0.5 to 1.25 anything that goes up in quarters which is normally used in cooking.-->
                </label>
        <p hidden id="Submit"><input type="submit"></p>
        </div>
    </form>
</body>
{%endblock%}