{% extends 'base.html'%}
{%  block content%}
<header></header>    
    <body>
       <div> <p> 
        Welcome to Measureverto. It's a combination of measurement and converto with 'O' for some extra spice italian action. 
    </p></div>
    <p> I want to convert: Directs you to a page where you can convert measurements into grams or mililitres.</p>
    <p>History: Shows a table of conversion order from the most recent to oldest.</p>
    <p>Home: Brings you back to this page.</p>
</body>  
{% endblock %} 